{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="card text-center contact mx-auto rounded">
  <div class="card-body">
    <h2 class="mb-4">Contact Me</h2>
    <form method="POST"></form>
    {% csrf_token %}
    <div class="mb-3">
      {% render_field form.name class='form-control' placehold='名前' %}
    </div>
    <div class="mb-3">
      {% render_field form.email class='form-control' placehold='メールアドレス' %}
    </div>
    <div class="mb-3">
      {% render_field form.message class='form-control' placehold='メッセージ' %}
    </div>
    <div class="mb-3">
      <buttton class="btn btn-warning" type="submit"> <i class="fas fa-paper-plane"></i> 送信する</buttton>
    </div>
  </div>
</div>

{% endblock %}